body {
    font-family: Arial,  sans-serif; /* keluarga font */
    font-size: 11px; /* Ukuran font utama pada tag <p></p> */
    background-color: grey; /* Warna latar belakang laman web */
    color: #333333; /* Warna teks */ 
}
h1 {
    color: #00a800; /* Warna tajuk (header)*/
    font-size: 24px; /* Ukuran font tajuk (header) */
    font-family: Georgia, serif; /* Keluarga font yang digunakan di tajuk (header) */
}
h2 {
    color: #FD98FB; /* Warna tajuk (header)*/
    font-size: 15px; /* Ukuran font tajuk (header) */
    font-family: Arial, Helvetica, sans-serif; /* Keluarga font yang digunakan di tajuk (header) */
}
p {
    color: #5988FF; /* Warna tajuk (header)*/
    font-size: 15px; /* Ukuran font tajuk (header) */
    font-family: Arial, Helvetica, sans-serif; /* Keluarga font yang digunakan di tajuk (header) */
}
li {
    color: #FFFFFF; /* Warna tajuk (header)*/
    font-size: 15px; /* Ukuran font tajuk (header) */
    font-family: Arial, Helvetica, sans-serif; /* Keluarga font yang digunakan di tajuk (header) */
}
